.header{
    background-color:darkslategrey;
    width: 100%;
    float: left;
    padding: 20px;
}

.logo{
    float: left;
    width: 100px;
    margin-right: 100px;
}

.kontainer{
    float: left;
}

.menu{
    float:left;
    width: 15%;
    margin: 10px;  
}

.menuItem{
    padding: 10px;
    margin-top: 7px;
    border-bottom: 1px solid gray;
}

.menuUtama{
    float: left;
    margin-top: 15px;
    width: 65%;
    padding: 0 10px;
    overflow: hidden;
}

.menuKanan{
    float: left;
    width: 15%;
    padding: 0 10px;
    margin-top: 10px;
    background-color: brown;
}

.footer{
    float: left;
    background-color: dimgray;
    color: white;
    text-align: center;
    width: 100%;
    height: auto;

}